body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error { 
    color: red;
}
 
.wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 8px;
  background-color: #fff;
  color: #444;
  padding: 0.8em 0 0.5em 0.8em;
}

.high-letter {
    font-size: 2em;
}

.without-space {
    padding: 0;
}

.votes {
    font-size: 3em;
    color:red;
}

.icon-size {

    font-size: 2em;
}

.text-red {
    color: red;
}

.bg-red {
    background-color: red;
    border-color: red;
}